body {
  margin : 0px;
  padding: 0px;
}

header {
  background-color:#FF9800  ;
  width: auto;
  padding: 12px 0px 40px 100px;
  font-size: 3em;
  font-family:  "slab";
  position: relative;
  top: 75px;
}

#head {
  font-family: "sans";
  font-size: 1.5em;
}

footer {
  background-color: rgba(0, 0, 0, 0.99);
  color: white;
  padding: 14px;
  font-family: "slab";
  font-size: 1.1em;
}

@font-face {
  font-family: "slab";
  src: url("../fonts/Slabo-Regular.ttf");
}

@font-face {
  font-family: "sans";
  src: url("../fonts/OpenSans-Regular.ttf")
}
strong{
    font-size:1.125em;
}
