#boxes {
  padding-left : 5%;
}

#boxes td{
  argin-left: 15px;
}

.box {
  float:left;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
}

.box img {
  position: relative;
  max-width: 90%;
  max-height: 40%;
}

.box a{
  text-decoration: none;
  padding: 5px;
  margin-bottom:  3px;
  color: white;
  float: right;
  background-color: #1976D2;
  border: 1px solid #1976D2;
  border-radius: 3px;
}

#comments {
  font-family: "slab";
  font-size: 1.4em;
}

#comments span {
  font-style: italic;
}
